<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <% if !signed_in? %>
		<h2>Welcome</h2>
		<h4>You need to be logged in to view your account<h4>
			<li><%=link_to "Register", new_user_path %></li>
			<li><%=link_to "Sign In", login_path %></li>
			
		<% else %>
			<h2>     Welcome <%= @current_user.username %></h2>
			<table class="table">
				<thead>
					<tr>
        <th>Username</th>
		<th>Address</th>
		<th>Phonenumber</th>
		<th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
			<td><%= @current_user.username %></td>
			<td><%= @current_user.address %></td>
			<td><%= @current_user.phoneNumber %></td>
			<td><%= @current_user.email %></td>
      </tr>
    </tbody>
  </table>
  
			<li><%=link_to "View my items", pages_myitems_path%></li>
            <li><%=link_to "Edit Account", edit_user_path(@current_user)%></li>
	<% end %>
</div>

</body>
</html>